    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans&family=Nunito:wght@500&family=Poppins&family=Roboto&display=swap');
    :root{
        --color-black: #000000;
        --color-blue: lightskyblue;
        --color-white: #ffffff;
        --color-bg: #a3a3a3;
        --color-bga: rgba(255,255,255,0.75);
    }
    *,*::before,*::after{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    }
    .container{
        min-height: 100dvh;
    }
    /* home section starts here */
    .navbar{
        font-family: 'Roboto', sans-serif;
    }
    .navbar-brand{
        font-weight: 600;
        display: flex;
        align-items: center;
    }
    .nav-item a{
        font-size: 1.1rem;
        color: var(--color-black);
    }
    #search-btn{
        font-size: 1.1rem;
        background-color: transparent;
        color: var(--color-black);
        border:none;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;        
        background-color: var(--color-white);
    }
    #search-btn:hover{
        background-color: var(--color-bg);
        color: var(--color-white);
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }
    #home-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15px;
    }
    .home-title{
        letter-spacing: 2px;
        font-size: 3rem;
        font-family: 'Bebas Neue', sans-serif;
        text-transform: uppercase;
        animation: text-left-right 1.2s;
    }
    .home-buttons{
        margin-top: 5px;
        animation: slide-down-up 1.2s;
    }
    .by-now,.c-all{
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        padding: 10px 30px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 12px;
        border-radius: 50px;
        margin-left: 20px;
        background-color: var(--color-white);
    }
    .c-all{
        animation: slide-down-up 1.3s;
    }
    .home-buttons *:hover{
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }
    /* #section2  starts here  */
    #section2{
        height: 100svh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner{
        height: 100%;
        display: flex;
        align-items: center;
        animation: slide-down-up 1.2s 5s;
    }
    .banner img{
        width: 100%;
        height: 90%;
        border-top-left-radius: 100px;
        background-color: var(--color-white);
    }
    .title{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation: text-right-left 1.2s 5s;
    }
    .title h2{
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 2px;
        text-align: start;

    }
    .title p{
        font-family: 'Nunito', sans-serif;
        font-size: 1.2rem;
        text-align: start;
    }
    /* #section3 starts here  */
    #section3{
        width: 100%;
        height: 120dvh;
        margin-bottom: 20px;
    }
    #row-3{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .bg-fix3{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bg-fix3:hover{
        cursor: pointer;
    }
    .div-slider31{
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        width: 100%;
        height: 90%;
        position: relative;
    }
    .overlay31{
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-bga);
        overflow: hidden;
        width: 0;
        margin-top: auto;
        margin-bottom: auto;
        height: 100%;
        transition: 0.5s ease;
    }
    .overlay31 p{
        height: 100%;
        width: 40%;
        color: var(--color-black);
        position: absolute;
        margin: auto 40%;
        font-size: 2rem;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 800;
        text-align: center;
        user-select: none;
    }
    .div-slider31:hover .overlay31{
        width: 100%;
    }
    .div-slider32{
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        width: 100%;
        height: 90%;
        position: relative;
    }
    .overlay32{
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--color-bga);
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: 0.5s ease;
        user-select: none;
    }
    .overlay32 p{
        height: 100%;
        width: 40%;
        color: var(--color-black);
        position: absolute;
        margin: auto 20%;
        font-size: 2rem;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 800;
        text-align: center;
        user-select: none;
    }
    .div-slider32:hover .overlay32{
        width: 100%;
    }
    /* all the backgrounds of section3 */
    .bg-1{
        background:url("images/macessories.jpg");
        background-position: 50% 60%;
        background-size:cover;
    }
    .bg-2{
        background:url("images/desk-lap-top.jpg");
        background-position: center;
        background-size: cover;
    }
    .bg-3{
        background:url("images/cameraas.jpg");
        background-position: 50% 20%;
        background-size: cover;
    }
    .bg-4{
        background:url("images/gamingss.jpg");
        background-position: center;
        background-size: cover;
    }
    .bg-5{
        background:url("images/headphone.jpg");
        background-position: 35% 50%;
        background-size: cover;
    }
    .bg-6{
        background:url("images/homelectronics.jpg");
        background-position: 50% 60%;
        background-size: cover;
    }
    /* #section4 starts here  */
    #section4 .card img{
        background-color: rgb(102, 51, 153);
        margin: 5px auto;
        border-radius: 0;
    }
    /* #section5 starts here   */
    
/* animation's keyframes are here */
@keyframes text-left-right{
    from{
        opacity: 0;
        transform: translateX(-150px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes text-right-left{
    from{
        opacity: 0;
        transform: translateX(150px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes slide-down-up{
    from{
        opacity: 0;
        transform: translateY(90px);
    }
    to{
        transform: translateY(0);
    }
}